@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;

}

.flexbox-container img {
  align-self: center;
}

:root {
  color-scheme: dark;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;

  /* overflow: hidden */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;

}


.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  opacity: 1;

  /*  where the real magic happens  */
  /*the transparent gradient navbar*/
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);

  background: rgba(225, 225, 225, 0.05);

  mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);

  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  inset: -1rem 0;
}



/* header {


    position: fixed;
    top: 0;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1;
    /*extendable-2*/
/* top: 2vh;
    border-radius: 5px; */

header {
  filter: blur(0px);
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 10;

  /*extendable-2*/
  /* top: 2vh;
    border-radius: 5px; */
}


/* Underline styles */
.headerenclosure a {
  display: block;
  position: relative;
  padding: 0.2em 0;

}

/* Fade in */
.headerenclosure a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  /* background-color: rgb(151, 255, 255); */
  background-color: rgb(206, 203, 203);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.headerenclosure a:hover::after,
.headerenclosure a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

header.sticky {
  padding: 5px 100px;

  filter: drop-shadow(0 0 0.75rem #000);
  backdrop-filter: blur(10px);
  background-color: rgba(228, 228, 228, 0.89);
  /*extendable-2*/
  /* border: rgb(54, 54, 54) solid 5px; */

}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;

  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  transition: 0.6s;
  padding: 0%;
  height: 7vh;

  left: 10%;
}


header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10%;
}

header ul li {
  position: relative;
  list-style: none;
  font-weight: 700;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  right: 10%;
  letter-spacing: 2px;
  font-weight: 600px;
  transition: 0.6%;
}

header.sticky .logo,
header.sticky ul li a {
  color: #000;
}



section {
  height: 100vh;
  width: 100%;
}

img {
  height: 100vh;
  width: 100%;
  user-select: none;
}

.hero {
  color: #fff;
}

.maintext {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px;

  position: absolute;
  width: 80%;
  top: 40vh;
  font-size: 4vw;
  text-align: center;
  font-weight: 900;

}

.textchev {
  position: absolute;

  width: 100%;
  top: 87.5vh;
  font-size: 1vw;
  text-align: center;

  font-weight: 900;
  color: #bdbdbd;


}

.learnmore:hover,
.textchev:hover {
  cursor: pointer;
  color: rgb(197, 197, 197);
  transition: 250ms;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 5px 15px rgba(145, 92, 182, .4);

}

#whatido {
  /* background: url(/images/macbigsurwallapaper.jpg); */
  background-size: cover;
  /* For browsers that do not support gradients ^ */
  background-color: #0D0F0F;
  height: 210vh;

}

/* Glassmorphism card effect */
/* .card {
    position: relative;
    backdrop-filter: blur(15px) saturate(182%);
    -webkit-backdrop-filter: blur(15px) saturate(182%);
    background-color: rgba(17, 25, 40, 0.49);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125); 
} */

/* Background styles */

/* html,



body {
    height: 100%;
    margin: 5px;
}

.grid {
    border: 1px solid #000;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid>div {
    display: flex;
    flex-basis: calc(25% - 40px);
    justify-content: center;
    flex-direction: column;
}

.grid>div>div {
    display: flex;
    justify-content: center;
    flex-direction: row;
} */


.card {
  height: 20vh;
}

img {
  height: 100vh;
  width: 100%;
  user-select: none;
  z-index: -1;
}

.grid-container-container {
  position: absolute;
  top: 175vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;


  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.grid-container {

  position: absolute;
  left: 7vw;
  align-self: center;
  vertical-align: middle;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 1.75rem;

}

.grid-item {

  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  color: #fff;
  font-size: 30px;

  margin: 1px white solid;
  height: 37vh;
  width: 40vw;

  display: flex;
  justify-content: center;
  align-items: center;




}

.box-1-candela {
  background-image: url('/images/landscape_with_sun_setting_wit.jpeg') !important;
  z-index: 1;
}


.grid-img {
  height: 405px;
  filter: brightness(60%);
  width: 106%;
  border-radius: 10px;

}


.grid-img:hover {
  height: 405px;
  filter: brightness(60%);
  width: 106%;
  border-radius: 10px;
  z-index: -1;
}



.powered-by {
  text-align: center;
  width: 100%;
  height: 20vh;

}

.powered {
  padding: -30px 0;

  text-align: center;

  margin: auto;
  width: 60%;
  font-size: 1.2rem;
  /* original value - 1.13em */
  text-align: center;
  color: #756F66;
  line-height: 5vh;
}

.by {
  position: relative;
  margin-top: 0vh;
  font-size: 2.3vw;
  color: #BAB2A9;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 15vh;
  padding-bottom: 7vh;
}

.more-info {
  height: 100vh;
  top: 200vh;
  position: absolute;
  background-image: url('/images/macbigsurwallapaper.jpg');
}

/*make the grid-items glow on :hover*/
.grid-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 30px;

  margin: 1px white solid;
  /* height: 38vh;
  width: 41vw; */
  transform: scale(1.02);
}

/*make the grid-item border glow on hover*/
.grid-item:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: rgb(38, 57, 77) 0px 40px 30px -10px;
}

.candela {
  z-index: 999;
  position: relative;

}

/* The uh..  the ... the see more arrow thing */
.see-more {

  box-sizing: border-box;
  border: 0;
  border-radius: 50px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.card {
  border: #bdbdbd 1px solid;
  top: 23vh;
  width: fit-content;
  display: block;
  height: fit-content;
  background-color: #0D0F0F;
  /*rgb(238, 238, 238)*/
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {

  width: 52px;
  height: 52px;
  background-color: rgb(34, 34, 34);
  /*rgb(44, 44, 44)*/
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

/* Discord*/
.containerOne:hover {
  background-color: #7289da;
  transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #000000;
  transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

/* Github*/
.containerFour:hover {
  background-color: #000000;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}






.card {
  /* center this div horizontally */
  margin: 0 auto;
  display: flex;
  position: relative;
}

h3 {
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 5vh;
  padding: 7vh;
}

h3::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #fff;
  margin: 20px auto;
}

.work-together {

  height: 40vh;
  top: 255vh;
  width: 100%;
  position: absolute;
}

.contact {
  font-weight: 600;
  font-size: 2.5em;
  color: #fff;
  text-align: center;
  z-index: 999;
  top: 0vh;
  width: 100%;
  position: absolute;

  padding: 8vh;
}

.contact::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #fff;
  margin: 20px auto;
}

.contact-small {
  font-size: 1em;
  color: #fff;
  text-align: center;
  z-index: 999;
  top: 19vh;
  width: 100%;
  position: relative;
  padding: 2vh;


}

.card::before {
  content: '';
  background-color: rgba(255,255,255,0.01);
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(50px);
  clip-path: polygon(evenodd, 
    0 0, 
    100% 0, 
    100% 100%, 
    0 100%, 
    0 0, 0.3rem 0.3rem, calc(100% - 0.3rem) 0.3rem, calc(100% - 0.3rem) calc(100% - 0.3rem), 0.3rem calc(100% - 0.3rem), 0.3rem 0.3rem)
}


.e-card {
  margin: 100px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 240px;
  height: 330px;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg, #af40ff, #5b42f3 60%, #00ddeb);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.learn-more:hover {
  cursor: pointer;
  color: rgb(100, 100, 100);
  transition: 250ms;
}